sudo: false
language: node_js
cache:
  - directories:
    - node_modules
node_js:
  - '0.10'
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: ./node_modules/.bin/gulp ci
