<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>hy-res Index</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.dark.css">

	<link type="text/css" rel="stylesheet" href="styles/site.united.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">hy-res</a>
	</div>
	<div class="navbar-collapse">
		<ul class="nav navbar-nav">
			
			<li class="dropdown">
				<a href="classes.list.html" class="dropdown-toggle" data-toggle="dropdown">Classes<b class="caret"></b></a>
				<ul class="dropdown-menu ">
					<li><a href="Form.html">Form</a></li><li><a href="HalExtension.html">HalExtension</a></li><li><a href="LinkCollection.html">LinkCollection</a></li><li><a href="Resource.html">Resource</a></li><li><a href="Root.html">Root</a></li><li><a href="SirenExtension.html">SirenExtension</a></li><li><a href="WebLink.html">WebLink</a></li>
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="tutorials.list.html" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
				<ul class="dropdown-menu ">
					<li><a href="tutorial-uri-templates.html">URI Templates</a></li>
				</ul>
			</li>
			
		</ul>
	</div>
</div>
</div>


<div class="container">
<div class="row">

	
	<div class="col-md-8">
	
		<div id="main">
    		<h1 class="page-title">Index</h1>
			

	
	<span class="page-title">Index</span>
	
	











	
	





    <section class="readme-section">
        <article><h1>hy-res <a href="https://travis-ci.org/petejohanson/hy-res"><img src="https://travis-ci.org/petejohanson/hy-res.svg?branch=master" alt="Build Status"></a> <a href="https://coveralls.io/r/petejohanson/hy-res"><img src="https://coveralls.io/repos/petejohanson/hy-res/badge.svg" alt="Coverage Status"></a></h1><p>A hypermedia client/library for <a href="http://angularjs.org/">AngularJS</a>. <a href="http://tools.ietf.org/html/draft-kelly-json-hal-06">HAL</a>, <a href="https://github.com/kevinswiber/siren">Siren</a>, and <a href="https://tools.ietf.org/html/rfc5988">Link header</a> extensions are included by default, but support for other media types can be added. For the most part, the core library is not normally used directly, instead consumed by way of a small framework integration layer, e.g. <a href="http://github.com/petejohanson/angular-hy-res">angular-hy-res</a>.</p>
<h2>Support</h2><p>For any questions, please post to the <a href="https://groups.google.com/forum/#!forum/hy-res">HyRes Google Group</a>.</p>
<h2>Installation</h2><h3>NPM</h3><p>hy-res is available via NPM. To install:</p>
<pre class="prettyprint source"><code>$ npm install --save hy-res</code></pre><p><em>Note: The API is still evolving, so during the 0.0.x series of releases there are no API stability guarantees Those users needed a stable API should set an explicit version in package.json</em></p>
<h2>Documentation</h2><p>hy-res is inspired by AngularJS' <code>$resource</code> service that focuses on using hypermedia
controls, links (and/or embedded resources) discovered by link relation, to traverse a hypermedia enabled API.
hy-res itself is not dependant on AngularJS, and can be used standalone along w/ the <a href="https://www.npmjs.com/package/axios">axios</a>
library. For deep AngularJS, leveraging the <code>$http</code> service, use the <a href="https://github.com/petejohanson/angular-hy-res">angular-hy-res</a>
library.</p>
<p>For details, see refer to the <a href="http://petejohanson.github.io/hy-res/">API documentation</a>.</p>
<h2>Examples</h2><p>A complete working example can be found at <a href="https://github.com/petejohanson/angular-hy-res-example">angular-hy-res-example</a>,
which demonstrates the below pagination concept. A public copy is deployed to Heroku at:</p>
<p><a href="https://angular-hy-res-example.herokuapp.com/">https://angular-hy-res-example.herokuapp.com/</a></p>
<p>For example, given a HAL collection resource that uses the standard link relations <code>next</code> and <code>prev</code> to control
paging through the collection, and the <code>item</code> relation for each item in the collection, here is a sample response:</p>
<pre class="prettyprint source lang-json"><code>{
    &quot;_links&quot;: {
        &quot;self&quot;: { &quot;href&quot;: &quot;/page/2&quot; },
        &quot;next&quot;: { &quot;href&quot;: &quot;/page/3&quot; },
        &quot;prev&quot;: { &quot;href&quot;: &quot;/page/1&quot; }
    }
    &quot;_embedded&quot;: {
        &quot;item&quot;: [
          {
            &quot;_links&quot;: { &quot;self&quot;: { &quot;href&quot;: &quot;/posts/123&quot; } },
            &quot;title&quot;: &quot;MY blog post&quot;,
            &quot;tags&quot;: [ &quot;blogging&quot;, &quot;hypermedia&quot; ]
          }
        ]
    }
}</code></pre><p>Then the controller can easily be:</p>
<pre class="prettyprint source lang-javascript"><code>angular.module('angularHyResDocs')
  .controller('ahrdPageCtrl', function(root) {
    $scope.page = root.$followOne('http://api.myserver.com/rel/posts');
    $scope.posts = $scope.page.$followAll('item');

    var follow = function(rel) {
      $scope.page = $scope.page.$followOne(rel);
      $scope.posts = $scope.page.$followAll('item');
    };

    $scope.next = function() {
      if (!$scope.hasNext()) {
        return;
      }

      follow('next');
    };

    $scope.prev = function() {
      if (!$scope.hasPrev()) {
        return;
      }

      follow('prev');
    };

    $scope.hasNext = function() {
      return $scope.page.$has('next');
    };

    $scope.hasPrev = function() {
      return $scope.page.$has('prev');
    };
  });</code></pre><p>And the view:</p>
<pre class="prettyprint source lang-html"><code>&lt;div>
  &lt;ul class=&quot;pagination&quot;>
    &lt;li>
      &lt;a ng-click=&quot;{{prev()}}&quot; ng-class=&quot;{disabled: !hasPrev()}&quot;>&laquo;&lt;/a>
    &lt;/li>
    &lt;li>
      &lt;a ng-click=&quot;{{next()}}&quot; ng-class=&quot;{disabled: !hasNext()}&quot;>&raquo;&lt;/a>
    &lt;/li>
  &lt;/ul>
  &lt;ul>
    &lt;li ng-repeat=&quot;post in posts&quot;>{{post.title}}&lt;/li>
  &lt;/ul>
&lt;/div></code></pre><h2>To Do</h2><ul>
<li>Document $form/$forms support.</li>
<li>Submit form file uploads? Maybe allow consumers to provide populated FormData
instance in <code>submit</code> parameters?</li>
<li>Handle scenario where subset of links for a given link relation is embedded.
For this scenario, we should really return a mix of resolved embedded
resources and unresolved resources that result from following the non-embedded
links.</li>
<li>Extensions for other media types (e.g. Collection+Json, Uber)</li>
<li>Support URI schemes other than http/https (extension mechanism?)</li>
<li>Hypermedia Actions/Forms? (Not present in HAL)</li>
<li>Ability to follow link relation w/ 'name' disambiguation parameter (HAL field)</li>
<li>Mixins for resources based on... profile? link relation that was followed?</li>
<li>Differentiate between embedded link vs embedded representation (See Siren spec)</li>
<li>Sane error handling</li>
<li>Handling or error tyoes, e.g. application/problem+json</li>
<li>Store resource's own URL somewhere accessible, perhaps <code>res.$href</code>?</li>
<li>Change &quot;options&quot; to be nested under { transportOptions: opts } to allow
hy-res options to exist as a distinct set of options. (e.g. data for URI
template resolution)</li>
<li>Store raw http response data in resource property, e.g. <code>res.$raw</code></li>
<li>Support for PUT of modified resource to replace server state?</li>
</ul></article>
    </section>







		</div>
	</div>

	<div class="clearfix"></div>

	
		<div class="col-md-3">
			<div id="toc" class="col-md-3"></div>
		</div>
	

</div>
</div>


<footer>


	<span class="copyright">
	&copy; Peter Johanson
	</span>
	<br />

<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.3.0-beta3</a>
	on 2015-05-01T16:49:12-04:00 using the <a
	href="https://github.com/terryweiss/docstrap">DocStrap template</a>.
</span>
</footer>

<!--<script src="scripts/sunlight.js"></script>-->
<script src="scripts/docstrap.lib.js"></script>
<script src="scripts/bootstrap-dropdown.js"></script>
<script src="scripts/toc.js"></script>

<script>
$( function () {
	$( "[id*='$']" ).each( function () {
		var $this = $( this );

		$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
	} );

	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			return $( heading ).attr( "id" ) || ( prefix + i );
		},
		selectors   : "h1,h2,h3,h4",
		showAndHide : false,
		scrollTo    : "100px"
	} );

	$( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
	$( "#main span[id^='toc']" ).addClass( "toc-shim" );
	$( '.dropdown-toggle' ).dropdown();
	//			$( ".tutorial-section pre, .readme-section pre" ).addClass( "sunlight-highlight-javascript" ).addClass( "linenums" );

	$( ".tutorial-section pre, .readme-section pre" ).each( function () {
		var $this = $( this );

		var example = $this.find( "code" );
		exampleText = example.html();
		var lang = /{@lang (.*?)}/.exec( exampleText );
		if ( lang && lang[1] ) {
			exampleText = exampleText.replace( lang[0], "" );
			example.html( exampleText );
			lang = lang[1];
		} else {
			lang = "javascript";
		}

		if ( lang ) {

			$this
			.addClass( "sunlight-highlight-" + lang )
			.addClass( "linenums" )
			.html( example.html() );

		}
	} );

	Sunlight.highlightAll( {
		lineNumbers : true,
		showMenu : true,
		enableDoclinks : true
	} );
} );
</script>



<!--Navigation and Symbol Display-->


<!--Google Analytics-->


</body>
</html>